---
import { getCollection } from "astro:content";
import MainLayout from "../../../../layouts/Layout.astro";
const allPosts = await getCollection("blog");

const Categories = [...new Set(allPosts.map((post) => post.data.Categories).flat())];
---
<MainLayout title="Index page">
    <div>
        {
            Categories.map((category) => <p><a href={`./category/${category}`}>{category}</a></p>)
        }
    </div>
</MainLayout>

