---
import Layout from "../../../../layouts/Layout.astro";

---


<Layout title="Year 1">
    <p>Algorithm and design and problem</p>
    <p>Communications for computer technology</p>
    <p>Computer Architecture and technology</p>
    <p>Information technology fundamentals</p>
    <p>Maths 1</p>
    <p>Microprocessor Systems</p>
    <p>Operating Systems</p>
    <p>Program design</p>
    <p>Programming</p>
    <p>Web development</p>
    <p>Data Exploration</p>
</Layout>
