---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Mainfunction from "../components/Mainfunction.jsx";
import { Image } from "@astrojs/image/components";
---

<Layout title="Demi Website">
  <!-- <Mainfunction client:load /> -->
  <main class="">
    <ul class="grid text-center mt-4 mb-4 md:flex content-center flex-wrap align-middle gap-2 weblinks">
      <li class="flex-1">
        <a href={"./art"}>
          <h2>Personal</h2>
        </a>
      </li>
      <li class="flex-1">
        <a href={"./dev"}>
          <h2>Developer</h2>
        </a>
      </li>
      </ul>
  </main>
</Layout>
