---

import NavArt from "./NavArt.astro"
import MobileNavArt from  "./MobileNavArt.astro"

---

<header class="relative">
    <NavArt / >
    <div>Demi</div>
    <ul>
        
    </ul>
    <MobileNavArt />
</header>
