---

import Links from "./links.astro";
import Nav from "./Nav.astro";
import MobileNav from "./MobileNav.astro"

---

<header>
    <Nav / >
    <div>Demi</div>
    <ul>
        <Links />
        <Links />
        <Links />
        <Links />
        <Links />
        
    </ul>
    <MobileNav />
</header>