---
import Theme from "./Theme"
import { Image } from "@astrojs/image/components";
import { TfiGithub } from "react-icons/tfi/index.js";

// import { IoPricetagsSharp } from "react-icons/io5/index.js";
// import {SiAboutdotme} from "react-icons/si/index.js";
// import {MdCategory} from "react-icons/md/index.js";
// import {ImBlog} from "react-icons/im/index.js";

---

<nav class = "block fixed mt-12 inset-x-0 bottom-0 z-10 justify-between items-center md:hidden"> 
    <div class ="flex gap-3 justify-center place-items-center mt-12 bg-lightMode-background dark:bg-darkMode-black">
        <h2><a href="/">Demi Aina</a></h2>
        <a class="mx-4" href="https://github.com/DemiAina"> <TfiGithub /> </a>
        <Theme client:load/>
    </div>
</nav>

