
---
import { Image } from "@astrojs/image/components";
import Theme from './Theme'
---

<nav class = "hidden md:flex justify-between items-center"> 
    <div class="ml-12">
        <h2> <a class = "text-light-blue" href="/">Demi Aina</a></h2>
    </div>
    <div class ="flex gap-3 mr-12 my-10">
        <ul class = "flex gap-3 pr-2 my-12">
            <li class = "pr-2"><a href="#">Soicals</a></li>
            <li class = "pr-2"><a href="#">Blog</a></li>
            <li class = "pr-2 whitespace-nowrap"><a href="#">Project files</a></li>
    <Theme client:load/>
        </ul>
    </div>
</nav>
