---
import Layout from "../../../../layouts/Layout.astro";

---


<Layout title="Year 2">
    <p>Algorithms and data structure</p>
    <p>Data communications</p>
    <p>Databases 1</p>
    <p>Human computer interaction</p>
    <p>Maths 2</p>
    <p>Legal and Professional</p>
    <p>Operating Systems 2</p>
    <p>Software enginnering 1</p>
    <p>Software enginnering 2</p>
    <p>Web development 2</p>
    <p>Object oriented programming</p>
</Layout>
