---
import Layout from "../../../../layouts/Layout.astro";

---


<Layout title="Year 2">
<section class ="w-full h-[100vh]"><p>Algorithms and data structure</p></section>   
<section class ="w-full h-[100vh]"><p>Data communications</p></section>   
<section class ="w-full h-[100vh]"><p>Human computer interaction</p></section>   
<section class ="w-full h-[100vh]"><p>Operating system 2</p></section>   
<section class ="w-full h-[100vh]"><p>software enginnering 1</p></section>   
<section class ="w-full h-[100vh]"><p>software enginnering 2</p></section>   
<section class ="w-full h-[100vh]"><p>Web development</p></section>   
<section class ="w-full h-[100vh]"><p>Object oriented programming</p></section>   
</Layout>
